@tailwind base;
/* @tailwind components; */
@tailwind utilities;

@layer base {
  button:disabled {
    cursor: not-allowed;
  }
}

@layer utilities {
  .flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .shadow-divider {
    box-shadow: rgba(0, 0, 0, 0.4) 0px 10px 9px -10px inset;
  }

  .mirror-x {
    --tw-scale-x: -1;
  }

  .text-inherit {
    color: inherit;
  }

  .raleway-100 { font-family: "Raleway"; font-weight: 100; }
  .raleway-200 { font-family: "Raleway"; font-weight: 200; }
  .raleway-300 { font-family: "Raleway"; font-weight: 300; }
  .raleway-400 { font-family: "Raleway"; font-weight: 400; }
  .raleway-500 { font-family: "Raleway"; font-weight: 500; }
  .raleway-600 { font-family: "Raleway"; font-weight: 600; }
  .raleway-700 { font-family: "Raleway"; font-weight: 700; }
  .raleway-800 { font-family: "Raleway"; font-weight: 800; }
  .raleway-900 { font-family: "Raleway"; font-weight: 900; }

  .inter-100 { font-family: "Inter"; font-weight: 100; }
  .inter-200 { font-family: "Inter"; font-weight: 200; }
  .inter-300 { font-family: "Inter"; font-weight: 300; }
  .inter-400 { font-family: "Inter"; font-weight: 400; }
  .inter-500 { font-family: "Inter"; font-weight: 500; }
  .inter-600 { font-family: "Inter"; font-weight: 600; }
  .inter-700 { font-family: "Inter"; font-weight: 700; }
  .inter-800 { font-family: "Inter"; font-weight: 800; }
  .inter-900 { font-family: "Inter"; font-weight: 900; }
}
